<?xml version='1.1' encoding='UTF-8'?>
<project>
  <actions/>
  <description>This Job is created to check for and build workspace</description>
  <keepDependencies>false</keepDependencies>
  <properties/>
  <scm class="hudson.scm.NullSCM"/>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <customWorkspace>/tmp/customWorkSpaceTest</customWorkspace>
  <builders>
    <hudson.tasks.Shell>
      <command>echo &quot;Hello World from Demo Custom Workspace&quot;
pwd
ls
touch temp.txt
ls
pwd</command>
      <configuredLocalRules/>
    </hudson.tasks.Shell>
  </builders>
  <publishers/>
  <buildWrappers/>
</project>