<?xml version='1.1' encoding='UTF-8'?>
<project>
  <description>This build within a time period certain number of times which you have provided</description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <jenkins.branch.RateLimitBranchProperty_-JobPropertyImpl plugin="branch-api@2.1152.v6f101e97dd77">
      <durationName>minute</durationName>
      <count>3</count>
      <userBoost>false</userBoost>
    </jenkins.branch.RateLimitBranchProperty_-JobPropertyImpl>
  </properties>
  <scm class="hudson.scm.NullSCM"/>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>echo &quot;Hello World from Demo Throttle&quot;</command>
      <configuredLocalRules/>
    </hudson.tasks.Shell>
  </builders>
  <publishers/>
  <buildWrappers/>
</project>